body {
    color: #0cf5ca;
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}

h1 {
    color: #122839;
    margin-top: 50px;
    margin-bottom: 0%;
    font-family: 'Sacramento', cursive;
    font-size: 80px;
}
.update {
    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif

}

h2 {
    color: #7A86B6;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}



hr {
    background-color: rgb(0, 0, 0);
    border-style: none;
    border-color: grey;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    margin: 50px auto 50px auto;
}

.one {
    color: #7346d4;
    text-decoration: underline;
}

.one:hover {
    color: brown;
}

.top {
    background-color: #8fc3d5;
    position: relative;
    padding-top: 100px;
}

.topcloud {
    width: 200px;
    height: 130px;
    position: absolute;
    right: 250px;
    top: 50px;
}

.bottomcloud {
    width: 200px;
    height: 100px;
    position: absolute;
    left: 350px;
    bottom: 400px
}

.b {
    width: 100%;
    height: 450px;
}

p {
    line-height: 2;
}

.middle {
    margin-top: 0px;
    margin-bottom: 50px;

}

.two {
    color: black;
}

.intro {
    width:90%;
    border-radius: 15px;
}


.skill-row {
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: justify;

}
.navbar{
  height: 50px;
  border-bottom: #7346d4;
  box-shadow: #40514E;

}
.crick {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.code {
    width: 300px;
    height: 200px;
    float: right;
    margin-left: 30px;
}

.contact {
    width: 40%;
    margin: 40px auto 60px auto;
   
}

.contact-me {
    margin-bottom: 50px;
}

.btn {
    
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #122839, #fafafa);
    background-image: -moz-linear-gradient(top, #122839, #dde7ee);
    background-image: -ms-linear-gradient(top, #122839, #91a4b0);
    background-image: -o-linear-gradient(top, #122839, #b5cedf);
    background-image: linear-gradient(to bottom, #122839, #8e969c);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #3e505d, #fafafa);
  background-image: -moz-linear-gradient(top, #324451, #dde7ee);
  background-image: -ms-linear-gradient(top, #72787c, #91a4b0);
  background-image: -o-linear-gradient(top, #6d879b, #b5cedf);
  background-image: linear-gradient(to bottom, #374651, #8e969c);
    text-decoration: none;
}

.bottom-container {
  background-color:#122839;
    padding: 50px 0;
}

a {
    color: #ffff;
    font-family: 'Montserrat', serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.copy {
    color: #EAF6F6;
    font-size: 0.75em;
}

.profile {
    background-color:#122839;
    
    margin: 10px 10PX 10px 10px;
    text-align: justify;
    border-radius: 15px;
    color: #EAF6F6;
    
}

.new{
  width:25%;
  padding: 0px 25px 25px 25px;
}
.old{
  padding-right: 60px;
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}
@keyframes floatAnimation {
    0% {
      transform: translateX(-100%);
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
    }
    100% {
      transform: translateX(100%);
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
    }
  }
  
  @keyframes rainAnimation {
    to {
      transform: translateY(100vh);
    }
  }
  
  .topcloud,
  .bottomcloud {
    animation: floatAnimation 30s linear infinite;
  }
  
